version: "3.9"
services:
  app:
    build: .
    image: tampakakis:latest
    container_name: tampakakis
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
    restart: unless-stopped